body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  border: none;
  background: transparent;
  border-radius: 100px;
  background-color: #000000;
  /* backdrop-filter: blur(5px); */
}

.container {
  border-radius: 2rem;
  margin: 0 auto;
  width: 10500px;
  max-width: max-content;
  min-width: 250px;
  height: 150px;
  background-color: #000000;
  padding: 1rem;
}

.tab .title {
  display: none;
}

/* .tab:hover .title {
  display: flex;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background: #000000ca;
}  */

.blur {
  filter: blur(5px);
}

h1 {
  margin: 0;
}

#searchBox {
  position: fixed;
  left: 50%; 
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 1rem 2rem;
  text-align: left;
  border-radius: 5px;
  border: none;
  border-radius: 1rem;
  z-index: 1;
  background-color: #101010;
  color: #ffffff5b;
}

main {
  /* filter: blur(5px); */
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.tab {
  display: inline-block;
  padding: 1rem;
  border-radius: 1.25rem;
  margin: 0 10px;
  margin-top: 4.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* border: 1px solid #EBEBEB;
  background-color: #F8F8F8; */
  border: 1px solid #3c3c3c6e;
  background-color: #101010;
}

.tab.hidden {
  opacity: 0.25;
}
  
  .focused {
  opacity: 1;
  border: 2px solid blue;
  }
  
  /* scrollbar styling */
  ::-webkit-scrollbar {
    display: none;
  height: 10px;
  }
  
  ::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  }